---
const { post } = Astro.props;

const { post } = Astro.props;
const formattedDate = betterDate(post.pubDate);
---

<a
	class="post-list border-foreground grid cursor-pointer grid-cols-[auto_minmax(500px,1fr)_150px_minmax(0,auto)] gap-x-8 border-b"
	href={post.url}
	data-title={post.title}
>
	<p class="font-mono text-xs/6">{formattedDate}</p>

	<h2
		class="relative overflow-hidden text-4xl tracking-tighter text-ellipsis whitespace-nowrap group-hover:underline"
	>
		{post.title}
		<svg
			class="absolute top-0 right-0"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"
			><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
		>
	</h2>

	<p
		class="min-w-[150px] text-[11px] font-medium tracking-wide text-gray-800/70 uppercase"
	>
		#{post.genre}
	</p>

	<span title="<CR>">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-6 flex-1"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="m7.49 12-3.75 3.75m0 0 3.75 3.75m-3.75-3.75h16.5V4.499"></path>
		</svg>
	</span>
</a>
