---
const { post } = Astro.props;
---

<a
  class="post-list border-foreground grid cursor-pointer auto-cols-max grid-flow-col place-items-center gap-x-12 border-b"
  href={post.url}
  data-title={post.title}
>
  <p class="font-mono text-xs/6">{post.pubDate}</p>

  <h2
    class="splitTitle min-w-xl overflow-hidden text-4xl tracking-tighter text-ellipsis whitespace-nowrap group-hover:underline"
  >
    {post.title}
  </h2>

  <p
    class="min-w-[150px] font-mono text-sm font-medium tracking-wide uppercase"
  >
    {post.genre}
  </p>

	<span title="<CR>">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-6 flex-1"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="m7.49 12-3.75 3.75m0 0 3.75 3.75m-3.75-3.75h16.5V4.499"></path>
		</svg>
	</span>

</a>
